.conteudo-cort{
  flex: 1;
  background-color: whitesmoke;
  text-align: center;
}

.conteudo-cort button {
    text-align: center;
    background-color: ORANGE;
    padding: 10px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
}

.conteudo-cort button:hover {
  background-color: rgb(129, 92, 23);
}

.conteudo-cort h2{ 
  text-align: center;
  margin-top: 40px;
  color: orange;
  font-size: 25px;
}

.conteudo-cort p{
  text-align: center;

}

.counteudo-cortes {
    display: flex;                       
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
}

.card {
    text-align: center;
    margin: 50px;
    width: 230px;
    height: 254px;
    background: whitesmoke;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px  rgba(131, 131, 131, 0.705);
    font-size: 23px;
    font-weight: 200;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
  }

.card p {
  color: rgb(71, 71, 71);
  font-size: 20px;
}
  
.card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  orange;
  }
  
.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
  }

.card img {
    width: 180px;
    height: 190px;
    border-radius: 15px;
    margin-bottom: 40px;

}
  
.card:hover .first-content {
    height: 0px;
    opacity: 0;
  }
  
.second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
  }
  
.card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}
  